h1{
    font-family: 'Dancing+Script';
    color: cadetblue;
    background-color: bisque;
}
body{
font-family: 'Dancing+Script';
} 
#header{
    background-color: bisque;
    border: thick;
    border-color: dimgray;
}
